//======================================================
//                     F O O T E R
//
//  This file contains all css property for the footer
//
//======================================================
.footer__container {

  #transition__footer {
    transition: all ease-in-out 500ms;
    fill: var(--dark-main-bg-color);
  }

  background-color: var(--dark-header-bg-color);
  height: 1000px;

  .footer_element {
    margin: 5% 0 5% 0;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Open Sans", sans-serif;
  }

}
