/*************************
*       MAIN
**************************/
:root {
  /* Main */
  --main-background-color: #393545;
  --header-background-color: #4C475C;
  /* Buttons */
  --button-background-color: white;
  /* titles */
  --h1-color: white;
  --h2-color: white;
  /* colors */
  --color-mikado-yellow: 255, 198, 10;
  --color-independance: 76, 71, 92;
  --color-orange-crayola: 255, 109, 51;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--main-background-color);
  transition: all ease-in-out 500ms;
}

main {
  width: 100%;
  margin: auto;
}

h1 {
  padding: 0;
  margin: 0;
  color: var(--h1-color);
  font-size: 2rem;
  text-align: center;
  letter-spacing: 5px;
  font-family: "BebasNeue-Regular", sans-serif;
}
h1 mark {
  color: inherit;
  position: relative;
  background: linear-gradient(120deg, rgba(255, 109, 51, 0.5) 0%, rgba(255, 109, 51, 0.5) 100%) no-repeat 0 80%;
  background-size: 99% 10px;
}

h2 {
  margin: 0 25px 0 25px;
  padding: 0;
  color: var(--h2-color);
  font-size: 2rem;
  letter-spacing: 2.5px;
  font-family: "BebasNeue-Regular", sans-serif;
}

/*************************
*       HEADER / NAVBAR
**************************/
header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100px;
  background-color: var(--header-background-color);
}

.navbar__container {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 25px 0 25px;
}

/* dark__mode */
.dark__mode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 5%;
}
.dark__mode:hover {
  cursor: pointer;
}
.dark__mode i {
  font-size: 25px;
  color: white;
}
.dark__mode i:hover {
  opacity: 0.7;
}

/*************************
*       MAIN
**************************/
.main__container {
  margin: 50px 0 50px 0;
}

.setting__container {
  margin: 25px 0 25px 0;
}

/*************************
*       SECTION
**************************/
.section__container {
  width: 80%;
  margin: auto;
}

/*************************
*       TABLE
**************************/
.table__container {
  border-collapse: collapse;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 25px 0 25px 0;
}
.table__container thead {
  background-color: rgba(var(--color-mikado-yellow), 0.55);
  height: 50px;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  color: var(--main-background-color);
}
.table__container thead th {
  width: 50%;
}
.table__container tbody {
  height: 50px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  color: var(--main-background-color);
}
.table__container tbody th {
  width: 50%;
}
.table__container tbody td {
  display: flex;
  justify-content: center;
}

/*************************
*       FONTS
**************************/
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

/*# sourceMappingURL=main.css.map */
