//======================================================
//                     M A I N
//
//  This file contains some important css properties !
//
//======================================================
:root {
  /*          DARK MODE          */
  --dark-main-bg-color: #393545;
  --dark-header-bg-color: #4C475C;

  // Title
  --dark-hx-color: white;
  --dark-p-color: wheat;

  // Table
  --dark-tbody-tr-bg-color: white;




  /*          LIGHT MODE          */
  --light-main-bg-color: white;
  --light-header-bg-color: #4C475C;

  // Title
  --light-hx-color: #393545;

  // Table
  --light-tbody-tr-bg-color: #4C475C;


  /* responsive */
  --fs-xxl: 3rem;
  --fs-xl:  2.5rem;
  --fs-l: 2rem;
  --fs-m: 1.5rem;
  --fs-s: 1rem;

  /* Others */
  --color-mikado-yellow: 255, 198, 10;
  --color-independance: 76, 71, 92;
  --color-orange-crayola: 255, 109, 51;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--dark-main-bg-color);
  transition: all ease-in-out 500ms;

  h1, h2, h3, h4 {
    color: var(--dark-hx-color);
    transition: all ease-in-out 500ms;
    mark {
      color: inherit;
      position: relative;
      background: linear-gradient(120deg, rgba(255, 198, 10, 0.5) 0%, rgba(255, 198, 10, 0.5) 100%) no-repeat 0 80%;
      background-size: 100% 8px;
    }
  }

  .h1__title {
    padding: 0;
    margin: 0;
    color: var(--dark-hx-color);
    font-size: var(--fs-xl);
    text-align: center;
    letter-spacing: 5px;
    font-family: "Open Sans", sans-serif;
  }

  .h2__title {
    margin: 25px;
    padding: 0;
    color: var(--dark-hx-color);
    font-size: var(--fs-l);
    letter-spacing: 2.5px;
    font-family: "Open Sans", sans-serif;
  }

}

body.light {
  background-color: var(--light-main-bg-color);
  transition: all ease-in-out 500ms;

  main {
    h1, h2, h3, h4 {
      color: var(--light-hx-color);
      transition: all ease-in-out 500ms;
      mark {
        background: linear-gradient(120deg, rgba(255, 198, 10, 0.75) 0%, rgba(255, 198, 10, 0.75) 100%) no-repeat 0 80%;
        background-size: 100% 8px;
      }
    }
  }

  #transition__footer {
    fill: var(--light-main-bg-color);
    transition: all ease-in-out 500ms;
  }

  tbody {
    background-color: var(--light-tbody-tr-bg-color);
  }

  th {
    color: white;
  }
}

main {
  width: 100%;
  margin: auto;
}

@media (max-width: 40rem){
  :root {
    --fs-xxl: 2.5rem;
    --fs-xl:  2rem;
    --fs-l: 1.5rem;
    --fs-m: 1.25rem;
    --fs-s: 1rem;
  }

  .title__presentation {
    flex-direction: column;
    margin: 30px;

    h1, h2, h3, h4 {
      margin: 5px 0 5px 0;
    }

  }

  tbody input[type=text] {
    visibility: hidden;
  }

}

/*************************
*       FONTS
**************************/
@font-face {
  font-family: 'BebasNeue-Regular';
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}