<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/main.css">
    <link rel="stylesheet" href="../../public/css/puppertino/forms.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Color Display</title>
</head>
<body class="">
    <header class="header">
        <nav class="navbar__container">
            <div id="darkMode" class="dark__mode"><i class='bx bxs-moon'></i></div>
        </nav>
    </header>
    <main class="main__container">
        <section class="section__container">
            <h1 class="h1__title"><mark>Color Display Template</mark></h1>
            <article class="setting__container">
                <h2 class="h2__title">Configuration</h2>
                <table class="table__container">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>--main-background-color</th>
                            <td>
                                <label><input id="main-background-color" type="text" class="p-form-text-alt p-form-no-validate" placeholder="Type your HEX code"></label>
                            </td>
                        </tr>
                        <tr>
                            <th>--header-background-color</th>
                            <td>
                                <label><input type="text" class="p-form-text-alt p-form-no-validate" placeholder="Type your HEX code"></label>
                            </td>
                        </tr>
                        <tr>
                            <th>--h1-color</th>
                            <td>
                                <label><input type="text" class="p-form-text-alt p-form-no-validate" placeholder="Type your value"></label>
                            </td>
                        </tr>
                        <tr>
                            <th>--h2-color</th>
                            <td>
                                <label><input type="text" class="p-form-text-alt p-form-no-validate" placeholder="Type your value"></label>
                            </td>
                        </tr>
                        <tr>
                            <th>--mark</th>
                            <td>
                                <label><input type="text" class="p-form-text-alt p-form-no-validate" placeholder="Type your value"></label>
                            </td>
                        </tr>
                        <tr>
                            <th>--button-background-color</th>
                            <td>
                                <label><input type="text" class="p-form-text-alt p-form-no-validate" placeholder="Type your value"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </section>
        <section class="section__container">
            <h1 class="h1__title"><mark>Some Samples</mark></h1>
            <div class="text__presentation">
                <h4>Sample</h4>
                <h3>Sample</h3>
                <h2>Sample</h2>
                <h1>Sample</h1>
            </div>
            <div class="text__presentation">
                <h4><mark>Sample</mark></h4>
                <h3><mark>Sample</mark></h3>
                <h2><mark>Sample</mark></h2>
                <h1><mark>Sample</mark></h1>
            </div>
        </section>
    </main>

    <script src="../../public/js/manager/ColorTemplateManager.js"></script>
    <script src="../../public/js/manager/DarkModeManager.js"></script>
    <script src="../../public/js/main.js"></script>

</body>
</html>